@import "mixins/mixins";
@import "partials/register";
@import "partials/login";
@import "partials/forgotten-password";
@import "partials/resetting-password";
/*=========================HEADER=============================*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
}
.inline-block {
    float: none !important;
    display: inline-block;
}
.blue-btn {
    border: 0;
    background-color: #3c8dbc;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
}
.page-label {
    color: #808080;
    font-weight: bold;
    padding: 5px 0 0 0;
}
.expired-pass-reset-query {
    text-align: center;
}
.authentication-rules-title {
    text-align: center;
    font-size: 25px;
    padding: 15px 0;
}
.authentication-rule {
    margin: 5px 150px;
}
header {
    height: 100px;
    background-color: #3c8dbc;
    text-align: center;
    position: relative;
    h1 {
        color: white;
        margin: 0;
        padding: 0;
        @include vertical-align(relative);
    }
    .header-btns-container {
        position: absolute;
        top: 5px;
        right: 5px;
        a {
            color: white;
            font-size: 17px;
            padding: 0 3px;
            &:hover {
                text-decoration: none;
            }
        }
    }
}