@mixin box-shadow($radius) {
    -webkit-box-shadow: $radius;
    -moz-box-shadow: $radius;
    -ms-box-shadow: $radius;
    box-shadow: $radius;
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin horizontal-align($position: relative) {
    position: $position;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@mixin vertical-horizontal-align($position: relative) {
    position: $position;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin noselect() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                          not supported by any browser */
}
@mixin translate($val: translate(50px,100px)){
    -ms-transform: $val; /* IE 9 */
    -webkit-transform: $val; /* Safari */
    transform: $val;
}
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin transition($property, $time, $ease){
    -webkit-transition: $property $time $ease;
    -moz-transition: $property $time $ease;
    -o-transition:  $property $time $ease;
    transition: $property $time $ease;
}

@mixin rounded($radius: 7px) {
    -webkit-border-radius: $radius!important;
    -moz-border-radius: $radius!important;
    -ms-border-radius: $radius!important;
    border-radius: $radius!important;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}
/* usage:
input { @include placeholder {
    font-family: $base-font-family;
    color: red;
}}
*/