/* usage:
input { @include placeholder {
    font-family: $base-font-family;
    color: red;
}}
*/
.register-container {
  text-align: center; }
  .register-container .register-btn-container {
    padding: 5px 0; }

.login-container {
  text-align: center; }
  .login-container .login-btn-container {
    padding: 5px 0; }
  .login-container .login-forgot-pass-container a {
    color: #3c8dbc; }

.forgotten-password-container {
  text-align: center; }
  .forgotten-password-container .forgotten-password-btn-container {
    padding: 5px 0; }

.resetting-new-password-container {
  text-align: center; }
  .resetting-new-password-container .resetting-new-password-btn-container {
    padding: 5px 0; }

/*=========================HEADER=============================*/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0; }

a {
  text-decoration: none; }

.inline-block {
  float: none !important;
  display: inline-block; }

.blue-btn {
  border: 0;
  background-color: #3c8dbc;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px; }

.page-label {
  color: #808080;
  font-weight: bold;
  padding: 5px 0 0 0; }

.expired-pass-reset-query {
  text-align: center; }

.authentication-rules-title {
  text-align: center;
  font-size: 25px;
  padding: 15px 0; }

.authentication-rule {
  margin: 5px 150px; }

header {
  height: 100px;
  background-color: #3c8dbc;
  text-align: center;
  position: relative; }
  header h1 {
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  header .header-btns-container {
    position: absolute;
    top: 5px;
    right: 5px; }
    header .header-btns-container a {
      color: white;
      font-size: 17px;
      padding: 0 3px; }
      header .header-btns-container a:hover {
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */
